.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

ul {
  display: block;
  list-style-type: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.music-links a {
  padding: 1em;
}

.social-links a {
  padding: 1em;
}

.video-player {
  padding: 1em;
}

.release-list {
  margin: 0 auto;
  max-width: 560px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.tracks-list {
  display: flex;
  flex-direction: column;
}

.scene {
  position: absolute;
}
